<!DOCTYPE html>

<html>
    
    <head>

        <title> New Page </title>
    
    </head>

    <body>

        <h1> Create a New Page </h1>

        <form action="{% url 'create' %}" method="GET">

            <label for="p">Entry Title:</label>

            <input type="text" name="pt" placeholder="Enter Title">

            <br>

            <textarea name="pc" rows="15" cols="100">

            </textarea>

            <br>

            <button type="submit" name="submit">Create Page</button>

        </form>

    </body>

</html>